// app global css in SCSS form
.left-side-menu-active {
  background-color: $blue-1;
  color: $blue;
}

.coadmin-header {
  // background: linear-gradient(145deg, var(--q-color-primary) 11%, var(--q-color-secondary) 75%) !important;
  .q-tab__content {
    min-width: auto !important;
  }
}

.coadmin-sidebar {
  .q-item__section--avatar {
    min-width:40px;
  }

  /* 左侧导航菜单滚动条 */
  .q-scrollarea__bar--v,
  .q-scrollarea__thumb--v {
    width: 6px;
    opacity: 0.35;
    border-radius: 5px;
  }
}

// 修改一些全局css
.coadmin-page {
  // 按钮高度缩小
  .q-field--dense .q-field__control, 
  .q-field--dense .q-field__marginal {
    height: 35px;
  }
  .q-field__control {
    height: 45px;
  }
    
}

// 隐藏DropDown按钮右侧的下箭头
.btn-dropdown-hide-droparrow {
  &.q-btn-dropdown--simple .q-btn-dropdown__arrow {
    display: none;
  }
}

.coadmin-table-sticky-header {
  /* 表格头部锁定 begin */
  &.q-dark .q-table__top,
  &.q-dark .q-table__bottom,
  &.q-dark thead tr:first-child th {/* bg color is important for th; just specify one */
    background-color: $dark;
  }
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {/* bg color is important for th; just specify one */
    background-color: #fff;
  }
  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th {
    top: 0;
  }

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th {
    /* height of all previous header rows */
    // top: 48px;
  }
  /* 表格头部锁定 end */
}

.coadmin-table-sticky-first-column {
  &.q-dark td:first-child,
  &.q-dark thead tr:first-child th:first-child {
    /* bg color is important for th; just specify one */
    background-color: $dark;
  }
  td:first-child,
  thead tr:first-child th:first-child {
    /* bg color is important for th; just specify one */
    background-color: #fff;
  }
  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
  }
}

.coadmin-table-sticky-last-column {
  &.q-dark td:last-child,
  &.q-dark thead tr:last-child th:last-child {
    /* bg color is important for th; just specify one */
    background-color: $dark;
  }

  td:last-child,
  thead tr:last-child th:last-child {
    /* bg color is important for th; just specify one */
    background-color: #fff;
  }
  th:last-child,
  td:last-child {
    padding-right: 6px !important;
    position: sticky;
    right: 0;
    z-index: 1;
  }
  td:last-child {
    box-shadow:  inset 1px 0px 0px 0px #bcbcbc;
  }
}

.coadmin-table-sticky-header-and-first-column {
  td:first-child {
    /* bg color is important for td; just specify one */
    background-color: inherit !important;
  }
  tr th {
    position: sticky;
    /* higher than z-index for td below */
    z-index: 2;
    /* bg color is important; just specify one */
    background: #fff;
  }

  /* this will be the loading indicator */
  thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
    /* highest z-index */
    z-index: 3;
  }
  thead tr:first-child th {
    top: 0;
    z-index: 1;
  }
  tr:first-child th:first-child {
    /* highest z-index */
    z-index: 3;
  }
  td:first-child {
    z-index: 1;
  }
  td:first-child, th:first-child {
    position: sticky;
    left: 0;
  }
}
.coadmin-table-sticky-header-and-last-column {
  td:last-child,
  th:last-child {
    padding-right: 6px !important;
  }
  td:last-child {
    box-shadow:  inset 1px 0px 0px 0px #bcbcbc;
  }

  &.q-dark td:last-child,
  &.q-dark tr th {
    /* bg color is important for td; just specify one */
    background-color: $dark;
  }
  tr th,
  td:last-child {
    /* bg color is important for td; just specify one */
    background-color: #fff;
  }
  tr th {
    position: sticky;
    /* higher than z-index for td below */
    z-index: 2;
    /* bg color is important; just specify one */
    // background: inherit;
  }

  /* this will be the loading indicator */
  thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
    /* highest z-index */
    z-index: 3;
  }
  thead tr:first-child th {
    top: 0;
    z-index: 1;
  }
  tr:last-child th:last-child {
    /* highest z-index */
    z-index: 3;
  }
  td:last-child {
    z-index: 1;
  }
  td:last-child, th:last-child {
    position: sticky;
    right: 0;
  }
}

.coadmin-table {

  // 表格slot：top 里面
  .q-table__top {
    padding: 4px 4px 8px 0px;
    .q-col-gutter-x-md, .q-col-gutter-md {
      margin-left: 0;
      & > * {
        padding-left: 7px;
      }
    }
  }
}

.coadmin-dialog {
  /* 使用v-drag，会导致对话框在小屏幕占满左右两边，这里增加一点空隙 */
  & .q-dialog__inner--minimized {
    margin: 10px;
  }
}

.coadmin-form {
  /* 验证失败样式 */
  & .q-field {
    &__bottom--animated {
      left: -5px;
      bottom: 16px !important;
      z-index: 10;
      & .q-field__messages {
        & div {
          width: max-content;
          border-radius: 5px;
          background: $negative;
          color: #fff;
          padding: 5px;
        }
      }
    }
  }
  &.gutter {
    & .q-field {
      &--with-bottom {
        padding-bottom: 0;
      }
    }
  }
  & .q-field {
    &--with-bottom {
      padding-bottom: 0;
    }
  }
}
